<?xml version="1.0"?>
<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->
<connectionStrings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <add name="BondSystemContext" connectionString="Data Source=...;Initial Catalog=BondSystem;User Id=...;Password=...;MultipleActiveResultSets=True;App=BondSystem" providerName="System.Data.SqlClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="NetGammaContext" connectionString="Data Source=...;Initial Catalog=...;Persist Security Info=True;User ID=...;Password=...;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="IndustrialContext" connectionString="Data Source=...;DBA PRIVILEGE=SYSDBA;PASSWORD=...;USER ID=..." providerName="Oracle.ManagedDataAccess.Client"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
</connectionStrings>
