@model BondSystem.Model.BondSystemEntities.Bond

@{
  ViewBag.Title = "Bond Details";
}
@if (Model != null)
{

  <div class="title">
    <h2>@ViewBag.Title</h2>
  </div>
  <div id="bondDetails" ng-controller="BondDetailsController" class="sub-container">
    <div class="box">
      @Model.Id

    </div>
  </div>
}
else
{
  <div class="title">
    <h2>No bounds found</h2>
  </div>
}
