<?xml version="1.0"?>
<connectionStrings>
    <add name="BondSystemContext" connectionString="data source=PC-CAGGIANO\SQLEXPRESS;initial catalog=BondSystem;user id=sa;password=sa;MultipleActiveResultSets=True;App=BondSystem" providerName="System.Data.SqlClient" />
    <add name="NetGammaContext" connectionString="Data Source=PC-CAGGIANO\SQLEXPRESS;Initial Catalog=NetGamma;Persist Security Info=True;User ID=sa;Password=sa;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="IndustrialContext" connectionString="DATA SOURCE=TESTDB;DBA PRIVILEGE=SYSDBA;PASSWORD=sa;USER ID=SA" providerName="Oracle.ManagedDataAccess.Client" />
</connectionStrings>

