<?xml version="1.0"?>
<connectionStrings>
    <!--  Model First connection string  -->
    <!--<add name="BondSystemContext" connectionString="metadata=res://*/Bond.csdl|res://*/Bond.ssdl|res://*/Bond.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PC-CAGGIANO\SQLEXPRESS;initial catalog=BondSystem;user id=sa;password=sa;MultipleActiveResultSets=True;App=BondSystem&quot;" providerName="System.Data.EntityClient" />-->
    <!--  Code First connection string  -->
    <add name="BondSystemContext" connectionString="data source=PC-CAGGIANO\SQLEXPRESS;initial catalog=BondSystem;user id=sa;password=sa;MultipleActiveResultSets=True;App=BondSystem" providerName="System.Data.SqlClient" />
    <add name="NetGammaContext" connectionString="Data Source=PC-CAGGIANO\SQLEXPRESS;Initial Catalog=NetGamma;Persist Security Info=True;User ID=sa;Password=sa;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="IndustrialContext" connectionString="DATA SOURCE=TESTDB;DBA PRIVILEGE=SYSDBA;PASSWORD=sa;USER ID=SA" providerName="Oracle.ManagedDataAccess.Client" />
</connectionStrings>

